/*
@import './../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

header
{
   background-color:#004B87;
}

footer {
  
   position: static;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color:#004B87;
   color: rgba(255,255,255,.5); 
   padding-top: 12px;
  }

  a
  {
      text-decoration:none ;

  }

  a:link {
    color: rgba(255,255,255,.5); 
  }
  
  a:visited {
    color: rgba(255,255,255,.5); 
  }
  
   a:hover {
    color: white; 
  }
  

  a:active {
    color:white;
  }

  img {
      width: 48px;
      height: 48px;
  }

  App {
background-color: lawngreen;
  }
  .bgimage
  {
    background: url("../images/med-img.jpg") no-repeat center center;
  }

  */
